<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>[{{restaurant.Category.name}}]</p>
  </div>
  <ul class="list-group">
    <li class="list-group-item">評論數 : {{comments}}</li>
    <li class="list-group-item">瀏覽次數 : {{restaurant.views}}</li>
    <li class="list-group-item">收藏數 :</li>
  </ul>
  <hr>
</div>

<br />
<br />
<a href="javascript:history.back()">回上一頁</a>